.search {
  background: linear-gradient(to left,
      rgb(146, 172, 243) 0%,
      rgb(165, 238, 238) 100%);


  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  line-height: 30px;
  margin-bottom: 30px;
  width: 30vw;
  border-radius: 20px;
  font-family: fantasy;
  font-size: 30px;
  text-align: center;
}